.masonry {
  width: 100%;

  .masonry-item {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    padding: 10px;

    @import "../util/skeleton.scss";

    .item-img {
      width: 100%;
      border-radius: 10px;
      transition: 2s ease;
      object-fit: cover;
    }

    .lazy {
      height: 500px;
      opacity: 0;
    }

    .caption-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.5s ease;
      opacity: 0;
      text-align: center;

      .caption {
        color: black;
        text-align: center;
        margin-bottom: 15px;
        word-break: break-all;
        white-space: break-spaces;
        max-width: 300px;
        line-height: 2em;
      }

      .title {
        font-size: large;
        font-weight: bold;
      }
    }

    .item-img:hover {
      opacity: 0.3;
    }

    .item-img:hover + .caption-wrapper {
      opacity: 1;
      pointer-events: none;
    }
  }
}
