$input-color: #666666;
$input-hover-color: #5e7e9b;

.hidden {
  display: none;
}

.search-wrapper {
  transition: 1s ease;

  i {
    font-size: 1.2em;
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 3%;
    transform: translate(-3%, -50%);
    transition: 0.3s ease;
  }

  i:hover {
    color: #666666;
  }

  .form-group {
    position: relative;
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 5%;
    transform: translate(-5%, -50%);
  }

  .form-field {
    cursor: pointer;
    font-family: inherit;
    width: 220px;
    border: 0;
    border-bottom: 1.5px solid $input-color;
    outline: 0;
    font-size: 1em;
    color: black;
    padding: 6px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      padding-left: 1%;
      font-size: 0.9em;
    }
  }
}
