$input-color: #bebebe;
$input-hover-color: #5e7e9b;

.search-wrapper {
  transition: 1s ease;

  i {
    font-size: 1.2em;
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 3%;
    transform: translate(-3%, -50%);
    transition: 0.3s ease;
  }

  i:hover {
    color: #666666;
  }

  .form-group {
    position: relative;
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 5%;
    transform: translate(-5%, -50%);
  }

  .form-field {
    cursor: pointer;
    font-family: inherit;
    width: 0px;
    border: 0;
    border-bottom: 1.5px solid $input-color;
    outline: 0;
    font-size: 1em;
    color: black;
    padding: 6px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .form-label {
      font-size: 0.5em;
      cursor: text;
      top: 12px;
    }
  }

  .form-field.active {
    width: 220px;
  }

  .form-label {
    position: absolute;
    top: -8px;
    display: none;
    transition: 0.3s;
    font-size: 0.5em;
    color: $input-color;
  }

  .form-label.active {
    display: block;
  }

  .form-field:focus {
    ~ .form-label {
      position: absolute;
      top: -8px;
      display: block;
      transition: 0.3s;
      font-size: 0.5em;
      color: $input-hover-color;
    }
    padding-bottom: 6px;
    border-width: 1.5px;
    border-color: $input-hover-color;
  }

  /* reset input */
  .form-field {
    &:required,
    &:invalid {
      box-shadow: none;
    }
  }
}
