.artist-introduction-wrapper {
  margin-top: 40px;
  position: relative;

  .title {
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-bottom: 30px;
  }

  @import "../../util/prevNext.scss";

  @import "cardItem.scss";
}
