
.lightui1 {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    border:1px solid;
    border-color:#bdbdbd;border-radius:2px;
    padding: 20px;
    border-radius: 10px;
    background: #ffffff;

    .lightui1-shimmer {
        width: 100%;
        height: 100%;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #d8d8d8;
        background-image: linear-gradient(to right, #d8d8d8 0%, #bdbdbd 20%, #d8d8d8 40%, #d8d8d8 100%);
        background-repeat: no-repeat;
        background-size: 800px 104px;
        height: 104px;
        position: relative;
    }
      
    .lightui1-shimmer div {
        background: #ffffff;
        height: 6px;
        left: 0;
        position: absolute;
        right: 0;
    }
      
      
    .lightui1b-shimmer {
        -webkit-animation-duration: 1s;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-name: placeHolderShimmer;
        -webkit-animation-timing-function: linear;
        background: #f0f0f0;
        background-image: linear-gradient(to right, #f0f0f0 0%, #d8d8d8 20%, #f0f0f0 40%, #f0f0f0 100%);
        background-repeat: no-repeat;
        background-size: 800px 104px;
        height: 104px;
        position: relative;
    }
      
    .lightui1b-shimmer div {
        background: #ffffff;
        height: 6px;
        left: 0;
        position: absolute;
        right: 0;
    }

    div._2iwr {
        height: 40px;
        left: 40px;
        right: auto;
        top: 0;
        width: 8px;
      }
      
      div._2iws {
        height: 8px;
        left: 48px;
        top: 0
      }
      
      div._2iwt {
        left: 136px;
        top: 8px
      }
      
      div._2iwu {
        height: 12px;
        left: 48px;
        top: 14px
      }
      
      div._2iwv {
        left: 100px;
        top: 26px
      }
      
      div._2iww {
        height: 10px;
        left: 48px;
        top: 32px
      }
      
      div._2iwx {
        height: 20px;
        top: 40px
      }
      
      div._2iwy {
        left: 410px;
        top: 60px
      }
      
      div._2iwz {
        height: 13px;
        top: 66px
      }
      
      div._2iw- {
        left: 440px;
        top: 79px
      }
      
      div._2iw_ {
        height: 13px;
        top: 85px
      }
      
      div._2ix0 {
        left: 178px;
        top: 98px
      }
}

@keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0
    }
    100% {
      background-position: 468px 0
    }
}