.background-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 1;
  transition: 1s ease;
  z-index: 15;

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .color {
    width: 100%;
    height: 100%;
  }
}

.background-wrapper.active {
  opacity: 0;
}
