.batch-note {
  z-index: 20;
  position: absolute;
  bottom: 25%;
  right: 10%;
  width: 35%;
  height: 30%;
  transition: 0.5s ease;
  opacity: 1;
  overflow: hidden;
  overflow-y: auto;
  display: grid;
  background-color: transparent;

  .content {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .artist {
    justify-content: flex-end;
    margin-top: 1em;
    text-align: end;
  }
}

.batch-note.active {
  opacity: 0;
}
